<h1>Login</h1>

<%= form_tag '/login' do %>

  <ul>Email:</ul>
  <ul><%= text_field_tag :email %></ul>
  <br>
  <ul>Password:</ul>
  <ul><%= password_field_tag :password %></ul>
  <br>
  <%= submit_tag "Submit" %>

<% end %>

