<h1>This is the admin dashboard</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<h1>Product Count <a href="/admin/products"><%=@product_count%></a></h1>
<h1>Category Count <a href="/admin/products"><%=@category_count%></a></h1>
